
.coverContainer{ 
  position: relative;

  width:50vw;

  transform: map-get($map: $cover, $key: transformC );
}

.Cover{
    position: sticky;
    width: 100%;
    min-height: auto;
    top: 0;



   }
  
  
  //  .Name {
    
  //   border-radius: 0.75rem;
  //   background-color: $color-2;
  //   color:$permanet-color-6;
  //   font-weight: bold;
  //   font-size: 25px;
  //   letter-spacing: 10px;
  //   writing-mode: vertical-rl;
  //   text-orientation: upright;
  //   white-space: nowrap;
  //   position: sticky;
  //   max-height: max-content;
  //   right: 0;

  
  // }



