
.coverContainer{ 
  position: relative;
  width:50vw;

  transform: map-get($map: $cover, $key: transformC );
}

.Cover{
    position: sticky;
    width: 100%;
    top: 0;
   }
  
  
  //  .Name {
  //   align-self:center ;
  //   border-radius: 15px;
  //   background-color: $color-2;
  //   color:$permanet-color-6;
  //   font-weight: bold;
  //   font-size: 25px;
  //   letter-spacing: 10px;
  //   writing-mode: vertical-rl;
  //   text-orientation: upright;
  //   white-space: nowrap;
  //   position: fixed;
  //   bottom: 0;
  //   top: 0;
  //   right: 0;

  
  // }



