
@import './src/components/styles/colorVar.scss';

.header {
    font-size:1.5rem; //30px
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 50%;
    right: 50%;
   
    z-index: 9999;
 


    .list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 0.66em;
      background-color:$color-2;
      height: 2.33em;
      border-radius: 0.5em;
      padding-left: 0.66em;
      padding-right: 0.66em;
      box-shadow: 0em 0.33em 0em 0em $color-4;
      margin-bottom: 0.33em;
 
      .element{
        list-style: none;

      }
  
      .btn-icon {
      
        min-width: 0.33em;
        padding: 0.33em;
        border-radius: 0.33em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: inherit;
        border: none;
        color: $color-3;
        background-color: $color-1;
        box-shadow: -0.1em -0.1em 0em 0.033em rgba(0,0,0,0.75) inset;

        cursor: pointer;
 
        transition: all 0.2s;
   

        &:hover{
          outline: 0.033em solid $color-3;
          box-shadow: -0.1em -0.1em 0em 0.033em rgba(0,0,0,0.75) inset;

        }
        &:active {
          box-shadow: 0.16em 0.16em 0em 0.033em rgba(0,0,0,0.75) inset;
          background-color:  $color-1;
      }


     
      }

    
    }
  }

  //TABLET
@media only screen and (max-width: 430px) {
  .header{
    top: 92%;

  }

}
  


