.topButtom {
  background: $color-2 ;
   width: fit-content;
   height: 1rem;
   padding-left: 10%;
   padding-right: 30%;
   margin: auto;
  position: relative;
   color: $color-2;
   border-radius: 0.75rem;
    margin-top: 10%;
  }
  
  .tab-box {
    min-width: 100%;
    position: relative;
    background-color: $color-1;
    border-radius: 0.75rem;
    box-shadow: 0rem 0.75rem 0rem 0rem $color-2, 0rem 1.35rem 0rem 0rem $color-4;
    margin-bottom: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: min-content;
    transition: height 1s;
    z-index: 5000;

 
  }
  

  
  
.tab-box::-webkit-scrollbar {
  width: 0.25rem;
  transition: all 1s;
}
 
 
.tab-box::-webkit-scrollbar-thumb {
  background: $color-3;
  border-radius: 0.75rem;
}
  


  

  .left {
    left: 0;
  }


