
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
@font-face {
  font-family: 'IPAMincho';
  src: url('./assets/IPAMincho\ Regular.woff2') format('woff2'), /* Formato WOFF2 */
  /* Añade otros formatos de fuente aquí si es necesario */
}

$color-1: #000000;
$color-2: #ffffff;
$color-3:#ff0000c3;


*{
  font-family: "Montserrat", sans-serif;

  color:$color-2;
  margin: 0;
}

body{
  background: rgb(0, 0, 0);

}



.header {
  display: flex;
  background-color:COLOR;
  color: $color-2;
  align-items: center;
  justify-content: space-between;
  padding-top: 1%;
  padding: 1% 1% 0 1%;
}

.header {
  h1 {
    margin: 0;

  }
  
  nav {
    ul {
      padding: 0;
      margin: 0;
      
      li {
        display: inline-block;
        padding: 10px;
        margin: 10px;
        background-color: rgb(24, 24, 24);
        backdrop-filter: blur(10px);
        border-radius: 3px;
        
        a {
          color: #fff;
          text-decoration: none;
          
  
        }

        &:hover{
          background-color: rgb(55, 55, 55);
        }

      }

      
    }
  }
}



/* Efecto de brillo para el botón "Contacto" */
.glow {
  box-shadow: 0 0 5px #fff, 
              0 0 10px #fff,
              0 0 15px #ff00de,
              0 0 20px #ff00de,
              0 25px 50px rgba(255,255,255,.2);
}