@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
@font-face {
  font-family: "IPAMincho";
  src: url("./assets/IPAMincho\ Regular.woff2") format("woff2"); /* Formato WOFF2 */
  /* Añade otros formatos de fuente aquí si es necesario */
}

@import url('./src/tabComp.scss');
@import url('./src/coliderComp.scss');
@import url('./src/contentComp.scss');
@import url('./src/coverComp.scss');
@import url('./src/headerComp.scss');
$color-1: #000000;
$color-2: #ffffff;
$color-3: #ff0000c3;
$color-4: red;
$color-6: red;
$color-4: red;
* {
  font-family: "Montserrat", sans-serif;
  color: $color-2;
  margin: 0;
}

body {
  background: #000000;

}

.App {
  background: #322e30;
  height: 250vh;
  margin: 0.6%;
  border-radius: 10px;
}





