@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
@font-face {
  font-family: "IPAMincho";
  src: url("./assets/IPAMincho\ Regular.woff2") format("woff2"); /* Formato WOFF2 */
  /* Añade otros formatos de fuente aquí si es necesario */
}

@import './src/components/styles/colorVar.scss';

@import './src/components/styles/tabComp.scss';
@import './src/components/styles/coliderComp.scss';
@import './src/components/styles/contentComp.scss';
@import './src/components/styles/coverComp.scss';
@import './src/components/styles/headerComp.scss';





* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;



}

:root{
  font-size: 20px;

}

body{
  background: $color-5;
}

.App {
  box-sizing: border-box;


}

.Frame{
    position: fixed;
    width: 100%;
    height: 100%;
    border-radius: 30px;

  box-shadow: -1px 1px 0px 15px $color-2 inset;

  .inner{
    border-radius:0px;
  }
}
.container-flex {
  position: relative;
  column-count: 3;
  row-gap: 50px;
  transition: all 1s;
  margin-left: 1.3rem;
}

.Homepage{

  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}




