
.coverContainer{
  display: grid;

  grid-template-columns: 1fr 0fr;

  align-items: start;
 justify-content: center;

}

.Cover{
    position: sticky;
    width: 100%;
    height: auto;

    top: 0;
    margin: 0;
    z-index: 9999;

   }
  
  
   .Name {
    align-self:center ;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 10px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;

  
  }



