.topButtom {
  background: #0e0d0d;
   width: fit-content;
   height: 1rem;
   padding-left: 10%;
   padding-right: 30%;
   margin: auto;

   color: #0e0d0d;
   border-radius: 15px;
   
  }
  
  .tab-box {
    position: relative;
    background-color: #950017;
    border-radius: 15px;
    box-shadow: 0px 15px 0px 0px #0e0d0d, 0px 27px 0px 0px #4d4d4d;
  }


  // .tabContent {
  //   scrollbar-color: #f4f4f4 transparent;
  //   scrollbar-width: thin;
  //   overflow-y: auto;
  //   margin-bottom: 8%;


 
  
  // }
  // .tabContent::-webkit-scrollbar-button {
  //   background-color: #e7e7e7; /* Color de fondo de la barra de desplazamiento */
  // }
  
  .borde {
    width: 2px; /* Ancho del manejador */
    height: 100%;
   border: 1px solid rgb(0, 210, 252);
    position: absolute;
    right: 0;
    top: 0;
    cursor: ew-resize;
   
  }


  .left {
    left: 0;
  }